@model PizzaShop.Entity.ViewModel.AddAssignTableViewModel
<style>
    .modal-dialog-slideout {
        min-height: 100%;
        margin: 0 0 0 auto;
        background: #fff;
    }

    .modal.fade .modal-dialog.modal-dialog-slideout {
        -webkit-transform: translate(100%, 0)scale(1);
        transform: translate(100%, 0)scale(1);
    }

    .modal.fade.show .modal-dialog.modal-dialog-slideout {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        display: flex;
        align-items: stretch;
        -webkit-box-align: stretch;
        height: 100%;
    }

    .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .modal-dialog-slideout .modal-content {
        border: 0;
    }

    .modal-dialog-slideout .modal-header,
    .modal-dialog-slideout .modal-footer {
        height: 69px;
        display: block;
    }

    .modal-dialog-slideout .modal-header h5 {
        float: left;
    }

    .table-card.selected {
        border: 2px solid green;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="AddAssignPage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="exampleModalLabel">Waiting List</h5>
                

            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>No. of Person</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.WaitingUserList)
                        {
                            <tr>
                                <td>
                                    <input type="radio" class="form-check-input select-item" data-email="@item.Email"
                                        data-username="@item.UserName" data-phone="@item.PhoneNumber"
                                        data-noofperson="@item.NoOfPerson" data-sectionid="@item.SectionId"
                                        data-tokenid="@item.WaitingId" id="exampleCheck1">
                                </td>
                                <td>@item.WaitingId</td>
                                <td>@item.UserName</td>
                                <td>@item.NoOfPerson</td>
                            </tr>
                        }

                    </tbody>
                </table>

                <div>
                    <h1 class="text-primary">
                        Customer Details
                    </h1>
                    <div>
                        <form id="AddAsCustomerForm" class="">
                            <input type="text" id="form-WaitingID" class="form-control hover-effect" placeholder=""
                                hidden>
                            <input type="hidden" id="form-sectionid" class="form-control hover-effect" placeholder="">
                            <div class="form-floating mb-3">
                                <input type="email" id="form-email" class="form-control hover-effect" placeholder=""
                                    onchange="checkEmail()">
                                <label>Email</label>

                            </div>
                            <div class="  form-floating mb-3">
                                <input type="text" id="form-username" class="form-control hover-effect" placeholder="">
                                <label>Name</label>

                            </div>
                            <div class=" form-floating mb-3">
                                <input type="text" id="form-phone" class="form-control hover-effect" placeholder="">
                                <label>Phone</label>

                            </div>

                            <div class="d-flex me-3 ">
                                <div class=" form-floating mb-3">
                                    <input type="text" id="form-noofperson" class="form-control hover-effect"
                                        placeholder="">
                                    <label>No. of Person</label>

                                </div>

                                <div class="form-floating " style="width: 200px;">
                                    <select class="form-select" aria-label="Floating label select example"
                                        id="SectionSelectIDAssignBtn">
                                    </select>
                                    <label for="SectionSelectIDAssignBtn">Section*</label>
                                </div>

                            </div>
                            <div class="d-flex justify-content-end gap-3 mt-3"> <button type="button"
                                    class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Assign</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script>

    function checkEmail() {
        var email = $("#form-email").val()

        $.ajax({
            url: '/OrderApp/CheckExistingUser',
            type: 'GET',
            data: { email: email },
            success: function (data) {

                console.log(data);

                $("#form-phone").val(data.phoneNumber);
                $("#form-username").val(data.userName);
            }
        });

    }

    $(document).ready(function () {


        // Select all checkboxes with the class 'select-item'
        let checkboxeselect = document.querySelectorAll('.select-item');

        checkboxeselect.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                // If the checkbox is selected, populate the form
                if (this.checked) {
                    document.getElementById('form-email').value = this.dataset.email || '';
                    document.getElementById('form-username').value = this.dataset.username || '';
                    document.getElementById('form-phone').value = this.dataset.phone || '';
                    document.getElementById('form-noofperson').value = this.dataset.noofperson || '';
                    document.getElementById('form-sectionid').value = this.dataset.sectionid || '';
                    document.getElementById('form-WaitingID').value = this.dataset.tokenid || '';
                } else {
                    // Clear form if the checkbox is unchecked
                    document.getElementById('form-email').value = '';
                    document.getElementById('form-username').value = '';
                    document.getElementById('form-phone').value = '';
                    document.getElementById('form-noofperson').value = '';
                    document.getElementById('form-sectionid').value = '';
                    document.getElementById('form-WaitingID').value = '';
                }

                // Uncheck other checkboxes (single selection behavior)
                checkboxeselect.forEach(cb => {
                    if (cb !== this) {
                        cb.checked = false;
                    }
                });
            });
        });
    });

    $("#AddAsCustomerForm").submit(function (event) {


        debugger
        //  event.preventDefault(); // Prevent the default form submission

        var Name = $('#form-username').val();
        var Email = $('#form-email').val();
        var Phone = $('#form-phone').val();
        var No_of_Person = $('#form-noofperson').val();
        @* var TableId = $('#SelectTableID').val(); *@
        var SectionId = $('#form-sectionid').val();
        if (SectionId == "") {
            SectionId = $('#SectionSelectIDAssignBtn').val();
        }
        var WaitingId = $('#form-WaitingID').val();


        var FormData = {
            WaitingId: WaitingId,
            UserName: Name,
            Email: Email,
            Phone: Phone,
            TotalPerson: No_of_Person,
            SectionId: SectionId,
            SelectedTable: tempselectedTableIdsforOrder
        };

        $.ajax({
            type: "POST",
            url: "/OrderApp/AddAsCustomer",
            data: FormData,
            success: function (response) {

                console.log(response);
                $('#AddAssignPage').modal('hide');
                TempData["Success"] = "Table Assign Successfully";
                var url = '@Url.Action("MenuOrderApp", "OrderApp")' + '?Id=' + response.id;
                window.location.href = url;
            },
            error: function (xhr, status, error) {
                // Handle error response
                console.error(xhr.responseText);
            }
        });

    });

</script>