@{
    Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
    ViewData["Title"] = "Tables";
}

@model PizzaShop.Entity.ViewModel.TableOrderAppViewModel

<style>
    .floor-section {
        background: #fff;
        margin-bottom: 12px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .floor-header {
        padding: 16px 20px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
    }

    .floor-header:hover {
        background-color: #f0f0f0;
    }

    .arrow {
        transition: transform 0.3s ease;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
    }

    .arrow.rotate {
        transform: rotate(90deg);
    }

    .floor-body {
        display: none;
        padding: 20px;
        background: #fdfdfd;
    }

    .table-card {
        display: inline-block;
        background: #e8f0fe;
        border: 2px solid #cfe2ff;
        padding: 16px;
        margin: 10px;
        border-radius: 10px;
        width: 180px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    }

    .table-card.green {
        background: #e6f4ea;
        border-color: #b5dfc0;
    }

    .table-card .title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .table-card .info {
        font-size: 14px;
        color: #333;
    }

    .reserverd {
        background-color: rgb(202, 202, 248);
    }

    .occupied {
        background-color: hwb(99 58% 11%);

    }

    .available {
        background-color: hwb(0 60% 38%);
    }
</style>

<div>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1 class="text-primary fw-bold">Table View</h1>
        </div>
        <div class="d-flex flex-row gap-3 mt-3">
            <p>
                <i class="bi bi-record-fill " style="color: hwb(0 60% 38%);"></i>Available
            </p>
            <p>
                <i class="bi bi-record text-success"></i>Selected
            </p>
            <p>
                <i class="bi bi-record-fill " style="color: hwb(99 58% 11%);"></i>Assign
            </p>
            <p>
                <i class="bi bi-record-fill  text-primary"></i>Running
            </p>
        </div>
    </div>

    <div>
        @foreach (var item in @Model.SectionList)
        {

            <div class="floor-section">
                <div class="floor-header" >
                    <div class="d-flex gap-2" onclick="toggleFloor(this.parentElement)">
                        <span class="arrow" style=" ">
                            <small class="m-auto"><i class="bi bi-chevron-right "></i> </small></span>
                        <span id="getAllSection">@item.SectionName</span>
                    </div>

                    <div class="">
                        <small class="mx-1"><i class="bi bi-record-fill " style="color: hwb(0 60% 38%);"></i>@item.TableDetails.Count(x => x.Status == "available")</small>
                        <small class="mx-1"><i class="bi bi-record-fill " style="color: hwb(99 58% 11%);"></i>@item.TableDetails.Count(x => x.Status == "occupied")</small>
                        <small class="mx-1"><i class="bi bi-record-fill text-primary"></i>@item.TableDetails.Count(x => x.Status == "running")</small>
                        <button type="button" class="btn border-2 border-primary text-primary" id="AddWaitingUserButton"
                            data-id="@item.SectionId">+ Waiting List</button>
                    </div>
                </div>
                <div class="floor-body @item.SectionId">
                    <div class="cardBody">
                        @foreach (var table in item.TableDetails)
                        {
                            @if (table.Status == "occupied" || table.Status == "running")
                            {
                                    <div class="orderMenuRedirect table-card tableCard h-25 @table.Status" data-orderid="@table.OrderId" >
                                        <div class="title d-flex justify-content-between align-items-center">
                                            <div>@table.TableName</div>
                                            
                                            @if(table.Status == "running")
                                            {
                                                <span>₹@table.TableAmount</span>
                                            }
                                            else
                                            {
                                                <span>₹0</span>
                                            }
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="bi bi-people"></i>

                                                <p>@table.Capacity</p>
                                            </div>
                                            <div>
                                                <i class="bi bi-stopwatch"></i>
                                                @* <p>0 Min <br></p> *@
                                                <span class="live-time" data-time="@table.CreatedAt?.ToString("o")"></span>
                                            </div>
                                        </div>
                                    </div>
                            }
                            else
                            {
                                <div class="table-card h-25 @table.Status "
                                    onclick="selectTableCard(this, @table.TableId, @item.SectionId)">
                                    <div class="title d-flex justify-content-between align-items-center">
                                        <div>@table.TableName</div>
                                        <span>₹0</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <i class="bi bi-people"></i>

                                            <p>@table.Capacity</p>
                                        </div>
                                        <div>
                                            <i class="bi bi-stopwatch"></i>
                                            <p class="live-time" >0 min<br></p>
                                            
                                        </div>
                                    </div>
                                </div>

                            }

                        }
                    </div>
                    <div class="d-flex justify-content-end align-items-center AddAssignBtn">
                        <button class="btn btn-info text-white AddAssignSidebar d-none AssignButton"
                            style="background-color:blue ; " data-id="@item.SectionId">Assign</button>
                    </div>
                </div>
            </div>

        }
    </div>
</div>





<div id="AddUserWaiting"></div>
<div id="AddAssign"></div>

<script>

    let tempselectedTableIdsforOrder = [];
    let selectedTableIdsforOrder = [];
    let selectedFloor = [];
    let count = 0;

    $(".orderMenuRedirect").on("click", function(){
        
            let orderid= $(this).data("orderid");
            console.log(orderid);
            if(orderid != undefined){
                let url ="@Url.Action("MenuOrderApp","OrderApp")"+`?id=${orderid}`;
                window.location.replace(url);
            }else{
                console.log("error occured in passing orderid");
            }
           
        })

    function selectTableCard(card, tableId, floorId) {
        
        const isSelected = $(card).hasClass('selected');
        if (selectedFloor.length == 0) {
            selectedFloor.push(floorId);
        }
        var newSectionId = selectedFloor.includes(floorId)

        if (newSectionId) {

            if (isSelected) {
                $(card).removeClass('selected').css('border', 'none');
                count--;
                if (count == 0) {
                    $(card).parent().parent().find('.AssignButton').addClass("d-none");
                    selectedFloor = [];
                }

                tempselectedTableIdsforOrder = tempselectedTableIdsforOrder.filter(id => id != tableId);
            } else {
                $(card).addClass('selected').css('border', '2px solid green');
                count++;
                $(card).parent().parent().find('.AssignButton').removeClass("d-none");
                tempselectedTableIdsforOrder.push(tableId);
            }
            console.log("Selected Table IDs: ", tempselectedTableIdsforOrder);
        }else{
            console.log("");
        }
    }




    function toggleFloor(header) {
        const arrow = header.querySelector('.arrow');
        const body = header.nextElementSibling;
        const isVisible = body.style.display === 'block';

        body.style.display = isVisible ? 'none' : 'block';
        arrow.classList.toggle('rotate', !isVisible);
    }


    $(document).on('click', '#AddWaitingUserButton', function () {
        
        var sectionId = $(this).data('id');
        AddWaitingUserAdd(sectionId);

    });

    function AddWaitingUserAdd(sectionId) {
        
        $.ajax({

            url: '/OrderApp/AddWaitingUser',
            type: 'GET',
            success: function (data) {
                
                $("#AddUserWaiting").html(data);
                GetAllSectionSelection(sectionId);
                $('#AddWaitingUserModel').modal('show');
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", status, error);

            }
            @* ,complete :function(){
                GetAllSectionSelection(sectionId);
                $('#AddWaitingUserModel').modal('show');
            } *@
        });
    }



    function GetAllSectionSelection(selectedId) {
        $.ajax({
            url: '/OrderApp/SectionsList',
            type: 'GET',
            success: function (data) {
                
                console.log(data);
                var s = '<option value="-1">Please select Section</option>';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].sectionId == selectedId) {
                        s += '<option value="' + data[i].sectionId + '" selected>' + data[i].sectionName + '</option>'
                    }
                    @* else {
                        s += '<option value="' + data[i].sectionId + '">' + data[i].sectionName + '</option>'

                    } *@
                }

                $("#AddSectionSelectWaitingList").append(s);
            }
        });
    }
    function GetAllSectionAssign(selectedId) {
        $.ajax({
            url: '/OrderApp/SectionsList',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Section</option>';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].sectionId == selectedId) {
                        s += '<option value="' + data[i].sectionId + '" selected>' + data[i].sectionName + '</option>'
                    }
                    @* else {
                        s += '<option value="' + data[i].sectionId + '">' + data[i].sectionName + '</option>'

                    } *@
                }
                $("#SectionSelectIDAssignBtn").html(s);
            }
        });
    }

    



    $(document).ready(function () {

        function updateTime(){
        $(".live-time").each(function(){
            
            var dateString = "";
            var time = $(this).data("time");
            if(!time){
                $(this).text("0 Min");
                return;
            }
            var date1 = new Date(time);
            var date2 = new Date();
            var diff = date2.getTime() - date1.getTime();
            var days = Math.floor(diff / (1000 * 60 * 60 * 24));
            diff -=  days * (1000 * 60 * 60 * 24);
            if(days> 0){
                dateString+= days +" days ";
            }
            var hours = Math.floor(diff / (1000 * 60 * 60));
            diff -= hours * (1000 * 60 * 60);
            if(hours> 0){
                dateString+= hours +" hours ";
            }
            var mins = Math.floor(diff / (1000 * 60));
            diff -= mins * (1000 * 60);
            if(mins > 0){
                dateString+= mins + " min ";
            }
            var seconds = Math.floor(diff / (1000));
            diff -= seconds * (1000);
            dateString += seconds + " sec";
            $(this).text(dateString);
        });
        }

        setInterval(updateTime , 1000);

        $('.AddAssignSidebar').on('click', function () {
            
            console.log("Selected Table IDs: ", tempselectedTableIdsforOrder);
            AddAssignSidebar($(this).data('id'), tempselectedTableIdsforOrder);
        });
    });


    function AddAssignSidebar(sectionId, tblIds) {
        
        let Data = { "sectionId": sectionId, "tableIds": tblIds };
        $.ajax({
            url: '/OrderApp/AddAssignSidebar',
            type: 'POST',
            data: Data,
            success: function (data) {

                $("#AddAssign").html(data);
                GetAllSectionAssign(sectionId);
                $('#AddAssignPage').modal('show');
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", status, error);
            }
        });
    }



</script>