@using System.Text.Json
@using AuthenticationDemo.Utils
@using PizzaShop.Entity.Models
@{
    string? userDataJson = Context.Request.Cookies["SuperSecretAuthToken"];
    User? currentUser = null;
    int? role = null;

    if (!string.IsNullOrEmpty(userDataJson))
    {
        try
        {
            currentUser = CookieUtils.DecodeToken(userDataJson);
            
            role = currentUser?.UserRole;
        }
        catch
        {

        }
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/062c911f56.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row vh-100">
            @if (role != 3)
            {
                <aside class="col-lg-3 col-xxl-2 pt-4 m-0 p-0 " id="nav-bar">
                    <div class="d-flex align-items-center justify-content-center gap-2 flex-wrap">
                        <img src="~/images/logos/pizzashop_logo.png" class="img-fluid rounded-5" width="55px" alt="image">
                        <span class="fs-3" style="color: #0F67B1; font-weight: 700;">PIZZASHOP</span>
                    </div>
                    <div class="mt-4">
                        <ul class="d-flex flex-column p-0 m-0 ">
                            <li class="">
                                <a asp-controller="Home" asp-action="Index" class="">
                                    <div
                                        class="items d-flex align-items-center  gap-sm-0 gap-md-3  flex-wrap ps-3  @(@TempData["Active"] == "Dashboard" ? "Active" : "")">
                                        <span><i class="fa-solid fa-table-cells-large"></i></span>
                                        <span>Dashboard</span>
                                    </div>
                                </a>
                            </li>
                            <li class="">
                                <a asp-controller="Users" asp-action="Users">
                                    <div
                                        class="items d-flex align-items-center gap-sm-0 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "User" ? "Active" : "")">
                                        <span><i class="fa-solid fa-users"></i></span>
                                        <span>User</span>
                                    </div>
                                </a>
                            </li>
                            @if (role == 1)
                            {
                                <li class="">
                                    <a asp-controller="RoleAndPermission" asp-action="Roles">
                                        <div
                                            class="items d-flex align-items-center gap-sm-0 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "RolesAndPermissions" ? "Active" : "")">
                                            <span><i class="fa-solid fa-user-gear"></i></span>
                                            <span>Roles And Permissions</span>
                                        </div>
                                    </a>
                                </li>
                            }

                            <li class="">
                                <a asp-controller="Menu" asp-action="Menu">
                                    <div
                                        class="items d-flex align-items-center gap-sm-0 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "Menu" ? "Active" : "")">
                                        <span><i class="fa-solid fa-bell-concierge"></i></span>
                                        <span>Menu</span>
                                    </div>
                                </a>
                            </li>

                            <li class="">
                                <a asp-controller="TableAndSection" asp-action="Sections">
                                    <div
                                        class="items d-flex align-items-center gap-sm-0 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "TableAndSection" ? "Active" : "")">
                                        <span><i class="fa-solid fa-table"></i></span>
                                        <span>Table And Section</span>
                                    </div>
                                </a>
                            </li>

                            <li class="">
                                <a asp-controller="TaxAndFee" asp-action="TaxesAndFees">
                                    <div
                                        class="items d-flex align-items-center gap-sm-0 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "TaxesAndFees" ? "Active" : "")">
                                        <span><i class="fa-solid fa-money-check-dollar"></i></span>
                                        <span> Taxes And Fees</span>
                                    </div>
                                </a>
                            </li>

                            <li class="">
                                <a asp-controller="Order" asp-action="Orders">
                                    <div
                                        class="items d-flex align-items-center gap-sm-0 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "Orders" ? "Active" : "")">
                                        <span><i class="fa-solid fa-book"></i></span>
                                        <span>Orders</span>
                                    </div>
                                </a>
                            </li>

                            <li class=" ">
                                <a asp-controller="Customers" asp-action="Customers">
                                    <div
                                        class="items d-flex align-items-center gap-sm-0 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "Customers" ? "Active" : "")">
                                        <span><i class="fa-solid fa-user-group"></i></span>
                                        <span>Customers </span>
                                    </div>
                                </a>
                            </li>
                            <li class=" ">
                                <a asp-controller="EventManagement" asp-action="Index">
                                    <div
                                        class="items d-flex align-items-center gap-sm-0 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "EventManagement" ? "Active" : "")">
                                        <span><i class="fa-solid fa-user-group"></i></span>
                                        <span>EventManagement </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            }
            <!-- main content of the body starts from here -->
            <div class=" p-0 bg-light @(role == 3 ? "col-lg-12 col-xxl-12" : "col-lg-9 col-xxl-10")" id="main-part">
                <header class="header d-flex align-items-center justify-content-between px-sm-none p-2 bg-primary"
                    style="height: 60px;">
                    <div class="d-flex align-items-center gap-2">
                        @* <img src="~/images/hambergg.svg" width="20px" class="d-none d-lg-block" id="menu-btn"> *@
                        <img src="~/images/logos/pizzashop_logo.png" width="60px" class="d-block d-lg-none bg-white"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                            aria-controls="offcanvasExample">
                        <div class="d-none d-flex align-items-center gap-2" id="logo-section">
                            <img src="~/images/logos/pizzashop_logo.png" width="60px" class="bg-white">
                            <span class="text-white fs-4 fw-semibold">PIZZASHOP</span>
                        </div>
                    </div>
                    <div class="dropdown d-flex align-items-center justify-content-center">
                        @if (role != 1)
                        {

                            <div>
                                <a asp-controller="OrderApp" asp-action="Kot" class="h1 pe-3"><i
                                        class="bi bi-phone text-white"></i></a>
                            </div>
                        }
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown">
                            <img src="" id="profileimg" width="50px" height="50px" class="rounded-circle">
                        </button>
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                            <li class="d-flex align-items-center gap-3">

                                <img src="" id="profileimgdrop" width="40px" height="40px" alt="image"
                                    class="rounded-circle">

                                <span>
                                    <span id="name"></span>
                                </span>
                            </li>
                            <hr>
                            <li>
                                <a asp-controller="Users" asp-action="Profile"
                                    class="dropdown-item text-decoration-none text-dark ">
                                    <span class="material-symbols-outlined"><i class="fa-solid fa-user"></i></span>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Validation" asp-action="ChangePassword"
                                    class="dropdown-item text-decoration-none text-dark">
                                    <span class="material-symbols-outlined"><i class="fa-solid fa-key"></i></span>
                                    <span>Change Password</span>
                                </a>
                            </li>
                            <li>
                                <button type="submit" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#LogoutModal"><i class="fa-solid fa-right-from-bracket"></i>
                                    LogOut</button>
                            </li>
                        </ul>
                    </div>
                </header>
                <div class="container-fluid p-3">
                    <partial name="_Notification" />
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- main content of the body ends here -->
    </div>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>



<!-- modal details here -->
<div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    static-backdrop="true" keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Delete Confirmation
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-2">⚠️</span>
                    <p>Are you sure you want to Logout ?</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <form method="post" asp-action="Logout" asp-controller="Validation">
                    <button type="submit" class="btn btn-outline-primary ">Logout</button>
                </form>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- modal details ends heres -->

@if (role != 3)
{
    @* offcanvas starts fromhere  *@
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                <div class="d-flex align-items-center justify-content-center gap-2 flex-wrap">
                    <img src="~/images/logos/pizzashop_logo.png" class="img-fluid rounded-5" width="55px" alt="image">
                    <span class="fs-3" style="color: #0F67B1; font-weight: 700;">PIZZASHOP</span>
                </div>
            </h5>
            <button type="button" class="btn-close" id="OffCanvasCloseButton" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <aside class="col-lg-3 col-xxl-2 pt-4 m-0 p-0 " id="nav-barr">
                    <div class="mt-4">
                        <ul class="d-flex flex-column p-0 m-0 ">
                            <li class="">
                                <a asp-controller="Home" asp-action="Index" class="">
                                    <div
                                        class="items d-flex align-items-center  gap-sm-3 gap-md-3  flex-wrap ps-3  @(@TempData["Active"] == "Dashboard" ? "Active" : "")">
                                        <span><i class="fa-solid fa-table-cells-large"></i></span>
                                        <span>Dashboard</span>
                                    </div>
                                </a>
                            </li>
                            <li class="">
                                <a asp-controller="Users" asp-action="Users">
                                    <div
                                        class="items d-flex align-items-center gap-sm-3 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "User" ? "Active" : "")">
                                        <span><i class="fa-solid fa-users"></i></span>
                                        <span>User</span>
                                    </div>
                                </a>
                            </li>
                            @if (role == 1)
                            {
                                <li class="">
                                    <a asp-controller="RoleAndPermission" asp-action="Roles">
                                        <div
                                            class="items d-flex align-items-center gap-sm-3 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "Admin" ? "Active" : "")">
                                            <span><i class="fa-solid fa-user-gear"></i></span>
                                            <span>Role and Permissions</span>
                                        </div>
                                    </a>
                                </li>
                            }
                            <li class="">
                                <a asp-controller="Menu" asp-action="Menu">
                                    <div
                                        class="items d-flex align-items-center gap-sm-3 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "Menu" ? "Active" : "")">
                                        <span><i class="fa-solid fa-bell-concierge"></i></span>
                                        <span>Menu</span>
                                    </div>
                                </a>
                            </li>
                            <li class="">
                                <a asp-controller="TableAndSection" asp-action="Sections">
                                    <div
                                        class="items d-flex align-items-center gap-sm-3 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "TableAndSection" ? "Active" : "")">
                                        <span><i class="fa-solid fa-table"></i></span>
                                        <span>Table And Section</span>
                                    </div>
                                </a>
                            </li>
                            <li class="">
                                <a asp-controller="TaxAndFee" asp-action="TaxesAndFees">
                                    <div
                                        class="items d-flex align-items-center gap-sm-3 gap-md-3 flex-wrap  ps-3 @(@TempData["Active"] == "TaxesAndFees" ? "Active" : "")">
                                        <span><i class="fa-solid fa-money-check-dollar"></i></span>
                                        <span> Taxes and Fees</span>
                                    </div>
                                </a>
                            </li>
                            <li class="">
                                <a asp-controller="Order" asp-action="Orders">
                                    <div class="items d-flex align-items-center gap-sm-3 gap-md-3 flex-wrap  ps-3 ">
                                        <span><i class="fa-solid fa-book"></i></span>
                                        <span>Orders</span>
                                    </div>
                                </a>
                            </li>
                            <li class="">
                                <a asp-controller="Customers" asp-action="Customers">
                                    <div class="items d-flex align-items-center gap-sm-3 gap-md-3 flex-wrap  ps-3 ">
                                        <span><i class="fa-solid fa-user-group"></i></span>
                                        <span>Customers </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    @* offcanvas starends here  *@
}

<script>
    $(document).ready(function () {
        $(window).resize(function () {
            if ($(window).width() >= 992) {
                $("#offcanvasExample").removeClass("show");
                $("body").removeClass("offcanvas-open");
                $(".offcanvas-backdrop").remove();
            }
        });
        $.ajax({
            url: "@Url.Action("UserProfile", "Home")",
            type: "GET",
            success: function (response) {

                var appRoot = '@Url.Content("~/")';
                if (response.imgUrl != null) {
                    var imagePath = response.imgUrl.startsWith("/")
                        ? response.imgUrl
                        : appRoot + response.imgUrl;
                }
                else {
                    var imagePath = appRoot + "images/Default_pfp.svg.png";
                }
                $("#profileimg").attr("src", imagePath);
                $("#profileimgdrop").attr("src", imagePath);
                $("#name").text(response.username);
            }
        });
    });


    function checkConstrains(url, data, elementid) {
        console.log(data);
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            success: function (response) {
                $(elementid).html(response);
            },
            error: function (request, status, error) {
                toastr.error(request.responseText);
                console.log(request.responseText)
            }
        })
    }
</script>
