@{
    ViewData["Title"] = "Tax Page";
}

@model PizzaShop.Entity.ViewModel.TaxesAndFeesViewModel

<div>
    <div class="d-flex  justify-content-between mb-4">
        <div class="m-1">
            <h1 class="text-primary"> Taxes/Fees</h1>
        </div>
        <div class="d-flex align-items-center justify-content-center gap-3 m-2" id="addUserBtn">
            <div id="has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input class="form-control" type="search" placeholder="Search" name="search" id="search"
                    aria-label="Search" value="@Context.Request.Query["search"]" onchange ="submitSearch()">
            </div>
            @if((bool)Context.Items["CanAddEdit"]){
            <a class="btn btn-primary" data-bs-target="#AddTax" data-bs-toggle="modal">
                <div class="d-flex align-items-center justify-content-center">
                    <i class="bi bi-plus-lg"></i>
                    Add Tax
                </div>
            </a>
            }
        </div>
    </div>

    <div class="shadow bg-white rounded ">
        <div class="table-responsive p-4 tile ">
            <table class="table table-bordered align-middle ">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">IsEnabled</th>
                        <th scope="col">Default</th>
                        <th scope="col">Tax Value</th>
                        @if((bool)Context.Items["CanAddEdit"] || (bool)Context.Items["CanDelete"]){
                        <th scope="col">Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var taxFee in Model.TaxFeesList)
                    {
                        <tr>
                            <td>@taxFee.TaxName</td>
                            <td>@taxFee.TaxType</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input toggle-switch " disabled @(taxFee.IsEnabled ? "checked" : "")
                                        type="checkbox" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input toggle-switch " disabled @(taxFee.IsDefault ? "checked" : "")
                                        type="checkbox" />
                                </div>
                            </td>
                            <td>
                                @if (taxFee.TaxType == "Percentage")
                                {
                                    @(taxFee.TaxValue+"%") 
                                }
                                else if (taxFee.TaxType == "FlatAmount")
                                {
                                    @("₹"+taxFee.TaxValue)
                                }
                                else{
                                    <span class="text-danger">Invalid Type</span>
                                }
                            </td>
                             @if((bool)Context.Items["CanAddEdit"] || (bool)Context.Items["CanDelete"]){  
                                <td>
                                    @if((bool)Context.Items["CanAddEdit"]){
                                    <button type="button" class="btn btn-sm " id="EditTaxBtn"
                                        data-itemid="@taxFee.TaxId">
                                        <i class="bi bi-pen"></i>
                                    </button>
                                    }
                                    @if((bool)Context.Items["CanDelete"]){
                                        <button type="button" class="btn btn-sm " data-bs-toggle="modal"
                                        data-bs-target="#deleteModal" onclick="setTax(@taxFee.TaxId)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@* Modal Start *@
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="DeleteTaxFee" asp-controller="TaxAndFee" method="post">
                <div class="modal-body text-center d-block">
                    <img src="~/images/toppng.com-warning-icon-2400x2400.png" alt="warning" width="50px">
                    <p>Are you sure you want to delete this tax/fee?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <input type="text" id="TaxId" asp-for="TaxId">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Add Tax *@
<div class="modal fade" id="AddTax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Tax</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="TaxAndFee" asp-action="AddTax">
                <input type="hidden" asp-for="TaxId" />
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input asp-for="TaxName" type="text" class="form-control hover-effect" placeholder="">
                        <label asp-for="TaxName">Name</label>
                        <span class="text-danger" asp-validation-for="TaxName"></span>
                    </div>
                    <div class="" style="display: flex; justify-content: space-between; ">
                        <div class="form-floating mb-3 " style="width: 230px;">
                            <select class="form-select" aria-label="Floating label select example" asp-for="TaxType">
                                <option value="Percentage">Percentage</option>
                                <option value="FlatAmount">FlatAmount</option>
                            </select>
                            <label>Taxes Type*</label>
                            <span class="text-danger" asp-validation-for="TaxType"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="TaxValue" type="text" class="form-control hover-effect"  placeholder="">
                            <label asp-for="TaxValue">Amount</label>
                            <span class="text-danger" asp-validation-for="TaxValue"></span>
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        <div class="form-check form-switch">
                            <h5>
                                <input class="form-check-input toggle-switch"  asp-for="IsEnabled" type="checkbox" 
                                    role="switch">
                                <label class="form-check-label" for="addAvailable">IsEnable</label>
                                <span class="text-danger" asp-validation-for="IsEnabled"></span>
                            </h5>

                        </div>
                        <div class="form-check form-switch">
                            <h5>
                                <input class="form-check-input toggle-switch" asp-for="IsDefault" type="checkbox"
                                    role="switch">
                                <label class="form-check-label" for="addAvailable">IsDefault</label>
                                <span class="text-danger" asp-validation-for="IsDefault"></span>
                            </h5>

                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Edit Tax *@

<div class="modal fade" id="EditTaxModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Tax</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="EditTax" asp-controller="TaxAndFee">
                <input type="hidden" id="EditTaxId" asp-for="TaxId" />
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input id="EditTaxName" asp-for="TaxName" type="text" class="form-control hover-effect"
                            placeholder="">
                        <label for="EditTaxName">Name</label>
                    </div>
                    <div class="" style="display: flex; justify-content: space-between; ">
                        <div class="form-floating mb-3 " style="width: 230px;">
                            <select class="form-select" aria-label="Floating label select example" id="EditTaxType"
                                asp-for="TaxType">
                                <option value="Percentage">Percentage</option>
                                <option value="FlatAmount">FlatAmount</option>
                            </select>
                            <span asp-asp-validation-for="TaxType"></span>
                            <label>Taxes Type*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="EditTaxValue" asp-for="TaxValue" type="text" class="form-control hover-effect"
                                placeholder="">
                            <span asp-asp-validation-for="TaxValue"></span>
                            <label for="EditTaxValue">Amount</label>
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        <div class="form-check form-switch">
                            <h5>
                                <input class="form-check-input toggle-switch" id="EditIsEnabled" type="checkbox"
                                    role="switch" asp-for="IsEnabled">
                                <label class="form-check-label" for="EditIsEnabled">IsEnable</label>
                            </h5>

                        </div>
                        <div class="form-check form-switch">
                            <h5>
                                <input class="form-check-input toggle-switch" id="EditIsDefault" type="checkbox"
                                    role="switch" asp-for="IsDefault">
                                <label class="form-check-label" for="EditIsDefault">IsDefault</label>
                            </h5>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
@* Modal End *@

<script>
        function setTax(taxId) {
        document.getElementById('TaxId').value = taxId;
    }

    $(document).on('click', '#EditTaxBtn', function () {
        var TaxId = $(this).data('itemid');
        $.ajax({
            url: '/TaxAndFee/GetAllTaxByTaxId',
            type: 'GET',
            data: { TaxId: TaxId },
            success: function (data) {
                console.log(data);
                $('#EditTaxId').val(TaxId);
                $('#EditTaxName').val(data.taxName);
                $('#EditTaxType').val(data.taxType);
                $('#EditTaxValue').val(data.taxValue);
                $('#EditIsDefault').prop('checked', data.isDefault);
                $('#EditIsEnabled').prop('checked', data.isEnabled);
                $('#EditTaxModal').modal('show');
            },
            error: function (error) {
                console.error('Error fetching item details:', error);
            }
        });
    });

    function submitSearch() {
        @* e.preventDefault(); *@
        const searchValue = document.getElementById('search').value;
        window.location.href = `@Url.Action("TaxesAndFees", "TaxAndFee")?search=${searchValue}`;
    }
</script>